{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-login" method="POST" action = "/login">
        <header class='header'>
          <div class="jumbotron text-center">
          <h1>Welcome to Your Kanban Board</h1>
          </div>
        <h2 class="form-loginin-heading">Please sign in below.</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        {{ wtf.form_field(form.submit) }}
      </form>

    </div>
    <style>
      #button1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <a href= "/signup" id = 'button1'><button>If you don't already have an account, Sign up here. </button></a>
{% endblock %}
